pkgbase = python-pyasn1
	pkgdesc = ASN.1 library for Python 3
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/pyasn1/pyasn1
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	provides = pyasn1
	replaces = pyasn1
	source = https://github.com/pyasn1/pyasn1/archive/v0.5.0/pyasn1-0.5.0.tar.gz
	sha512sums = 50e29b4c0a55367c4ba3a48bc8935ec967f23822bf89bc848d4c910572f5351be23d8f696dc6f451c8eee4e97ccce888fd7d89d12362a3c52fc247fec7d47b5b

pkgname = python-pyasn1
