pkgbase = python-pyasn1
	pkgdesc = ASN.1 library for Python 3
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/pyasn1/pyasn1
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	provides = pyasn1
	replaces = pyasn1
	source = https://github.com/pyasn1/pyasn1/archive/v0.5.1/pyasn1-0.5.1.tar.gz
	sha512sums = 570880ba571a054da9b64aab8cc1646be3cb6c9ccf71f2039feb04114a0a2ddca07b1a55c116736a286426461762304fb3b7819c3e7e78ed7ff1291e02f7f9cc

pkgname = python-pyasn1
